.section {
   margin: 20px;
   display: flex;
   flex-direction: column;
}
.photogrid {
    object-fit: contain;
    width: 60%;
    align-self: center;
}
.heading {
color: #000;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: 110%; /* 39.6px */
}
.info {
color: #222;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 110%; /* 17.6px */
width: 30%;
}